<div class="row">
    <div class="col-xs-12">
        <h3 >Vido</h3>
        <p>Vido начала свою работу в 2018 году и сформировала команду энтузиастов, готовых и умеющих работать в сфере создания эффективных систем видеонаблюдения. С самого начала было принято решение о создании крупной стабильной компании с репутацией надежного партнера. Системный подход к организации бизнес-процессов, подбору и обучению сотрудников, сотрудничество с ведущими российскими и зарубежными производителями оборудования, внимание к качеству оборудования и материалов предопределили успех компании на долгие годы.
        </p>
    </div>
</div>