<div class="row">
  <div class="col-md-5">
    <h2>Наши продукты </h2>
    <a 
    class="list-group-item clearfix" 
    [routerLink]="[i]"
    *ngFor="let camera of cameras; let i=index"
    style="cursor: pointer;"
    routerLinkActive="active"
    >
      <div class="pull-left">
        <h6 class="list-group-item-heading">{{ camera.name }}</h6>
      </div>
    </a>
    <hr>
  </div>
  <div class="col-md-7">
  <router-outlet></router-outlet>
  </div>
</div>
<div class="row">
  <div class="col-sm-8">
    <table>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td>Безопасность</td>
        <td><img src="./../../assets/images/check-grey.svg" alt="check-grey"></td>
        <td><img src="./../../assets/images/check-grey.svg" alt="check-grey"></td>
        <td><img src="./../../assets/images/check-grey.svg" alt="check-grey"></td>
      </tr>
      <tr>
        <td>Качество</td>
        <td><img src="./../../assets/images/check-grey.svg" alt="check-grey"></td>
        <td><img src="./../../assets/images/check-grey.svg" alt="check-grey"></td>
        <td><img src="./../../assets/images/check-grey.svg" alt="check-grey"></td>
      </tr>
      <tr>
        <td>Ночное видение</td>
        <td><img src="./../../assets/images/check-grey.svg" alt="check-grey"></td>
        <td><img src="./../../assets/images/check-grey.svg" alt="check-grey"></td>
        <td><img src="./../../assets/images/check-grey.svg" alt="check-grey"></td>
      </tr>
    </table>
  </div>
</div>
