<div class="row">
  <div class="col-md-5">
    <h2>Наши продукты </h2>
    <button class="btn btn-primary" (click)="onShowitem()">Показать продукты</button>
    <a 
    class="list-group-item clearfix" 
    [routerLink]="[i]"
    *ngFor="let camera of cameras; let i=index"
    style="cursor: pointer;"
    routerLinkActive="active"
    >
      <div class="pull-left">
        <h6 class="list-group-item-heading">{{ camera.name }}</h6>
      </div>
    </a>
    <hr>
  </div>
  <div class="col-md-7">
  <router-outlet></router-outlet>
  </div>
</div>
<div class="row">
  <div class="col-sm-8">
    <table>
      <tr>
      </tr>
      <tr>
        <td>Безопасность</td>
        <td><img src="./../../assets/images/check-grey.svg" alt="check-grey"></td>
        <td><img src="./../../assets/images/check-grey.svg" alt="check-grey"></td>
        <td><img src="./../../assets/images/check-grey.svg" alt="check-grey"></td>
      </tr>
      <tr>
        <td>Качество</td>
        <td><img src="./../../assets/images/check-grey.svg" alt="check-grey"></td>
        <td><img src="./../../assets/images/check-grey.svg" alt="check-grey"></td>
        <td><img src="./../../assets/images/check-grey.svg" alt="check-grey"></td>
      </tr>
      <tr>
        <td>Ночное видение</td>
        <td><img src="./../../assets/images/check-grey.svg" alt="check-grey"></td>
        <td><img src="./../../assets/images/check-grey.svg" alt="check-grey"></td>
        <td><img src="./../../assets/images/check-grey.svg" alt="check-grey"></td>
      </tr>
    </table>
    <h3 class="text-left">Пример расчёта системы видеонаблюдения: </h3>
    <p>Ниже мы представили в качестве примера расчет готового комплекта видеонаблюдения, состоящего из двух уличных и двух внутренних камер, оснащенный беспроводным передатчиком. <br>
      <strong>1.</strong> Видеорегистратор DS-N208 на 4 камеры - производит запись с 4 проводных или беспроводных видеокамер и 1 микрофона; поддержка сети Интернет позволяет просмотр видеоархива и видеоизображения в реальном времени; запись на HDD-диск до 6 Тб.. Цена:  36 900 тенге. <br> 
      <strong>2.</strong> DS-I203-L (2.8mm) IP камера купольная – 2 шт. Цена: 25 900 тенге. Итого: 51 800 тенге. <br>
      <strong>3.</strong> DS-I200-L (2.8mm) IP камера  цилиндрическая – 2 шт. Цена: 25 900 тенге. Итого: 51 800 тенге. <br>  
      <strong>4.</strong> Сетевой коммутатор – 1 шт. Цена: 36 231 тенге. <br>  
      <strong>5.</strong> Жесткий диск для видеонаблюдения – 6 Тб. Цена: 98 600 тенге. <br>  
      <strong>6.</strong> Беспроводная система (передатчик + приемник). Усилитель сигнала 1500 мВт, 4 канала – 4 шт. Цена: 23 400 тенге. Итого: 93 600 тенге. <br>   
      <strong>7.</strong> Табличка "Ведется видеонаблюдение" каждому покупателю в подарок! Общая стоимость за комплект: 368 931 тенге. <br>
      </p>
  </div>
</div>
