<div class="row">
  <div class="col-md-5">
    <h2>Наши продукты </h2>
    <a 
    class="list-group-item clearfix" 
    [routerLink]="[i]"
    *ngFor="let camera of cameras; let i=index"
    style="cursor: pointer;"
    routerLinkActive="active"
    >
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{ camera.name }}</h4>
        <p class="list-group-item-text">{{ camera.description }}</p>
      </div>
      <!-- <span class="pull-right">
        <img
          [src]="camera.imagePath"
          alt="{{ camera.name }}"
          class="img-responsive"
          style="max-height: 50px"
        />
      </span> -->
    </a>
    <hr>
  </div>
  <div class="col-md-7">
  <router-outlet></router-outlet>
  </div>
</div>
<div class="row">
  <div class="col-sm-8">
    <table>
      <tr>
        <th></th>
        <th>Basic</th>
        <th>Standart</th>
        <th>Premium</th>
      </tr>
      <tr>
        <td>Цена</td>
        <td>10$</td>
        <td>20$</td>
        <td>30$</td>
      </tr>
      <tr>
        <td>Качество</td>
        <td><img src="./../../assets/images/check-grey.svg" alt="check-grey"></td>
        <td><img src="./../../assets/images/check-grey.svg" alt="check-grey"></td>
        <td><img src="./../../assets/images/check-grey.svg" alt="check-grey"></td>
      </tr>
      <tr>
        <td>Ночное видение</td>
        <td><img src="./../../assets/images/check-grey.svg" alt="check-grey"></td>
        <td><img src="./../../assets/images/check-grey.svg" alt="check-grey"></td>
        <td><img src="./../../assets/images/check-grey.svg" alt="check-grey"></td>
      </tr>
    </table>
  </div>
</div>
