.row{
    display: flex;
    justify-content: center;
    padding-left: 150px;
}
.col-xs-12{
    margin-top: 10px;
}
.table{
    margin-bottom: 0;
}
.div{
    padding-right: 35px;
}
.total{
    font-weight: bolder;font-size: medium;
    border: 1px solid #353535;
    border-radius: 2px;
    padding: 5px;
}
@media (max-width:500px) {
.row{
    padding-left: 0;
}
.list-group-item{
    font-size: smaller;
    margin-bottom: 1px;
}
.col-xs-12{
    width: 260px;
    margin-bottom: 50px;
}
.table{
    margin-bottom: 0;
}
th {
    padding-left: 10px;
}
.div{
    padding-right: 92px;
}
.list-group-item{
    width: 260px;
}
.table{
    border-bottom: 1px solid #353535;
}

}