<div class="row side">
  <div class="col-xs-10">
    <app-basket-detail></app-basket-detail>
    <hr />
    <div class="col-xs-6">
      <table class="table">
        <tr>
          <th>#</th>
          <th class="div">Устройство</th>
          <th>Цена</th>
        </tr>
        </table>
        <ul class="list-group">
        <a
          class="list-group-item"
          style="cursor: pointer"
          *ngFor="let order of orders; let i = index"
          (click)="onEditItem(i)"
        >
         {{i+1}})  {{ order.name }} - {{ order.amount }}
          <span class="pull-right">{{ order.sum }}тг</span>
        </a>
      </ul>
      
      
      <div class="col-xs-12" style="font-weight: bolder;font-size: medium;">
        Итог:
        <span class="pull-right"> {{ totals }}тг </span>
      </div>
    </div>
  </div>
</div>
